<html>
<head>
<title>Tumblefeed</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/tumblefeed.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin|PT+Sans' rel='stylesheet' type='text/css'>
<link href='./stylesheets/animate.css' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
 <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script>

	// grab the initial top offset of the navigation
  var sticky_navigation_offset_top;

	function scrollOver(offset_top) {
		var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
    // if we've scrolled more than the navigation, change its position to fixed to stick to top,
    // otherwise change it back to relative
    if (scroll_top > offset_top) {
            return true;
    } else {
            return false;
    }  
	}


$(function() {

		sticky_navigation_offset_top = $('.userbar-container').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky_navigation = function(){

        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scrollOver(sticky_navigation_offset_top)) {
            $('.userbar-container').css({ 'position': 'fixed', 'top':0, 'left':0 });
            $('.filler-container').show();
        } else {
            $('.userbar-container').css({ 'position': 'relative' });
            $('.filler-container').hide();
        }  
    };
     
    // run our function on load
    sticky_navigation();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky_navigation();
    });

	pushFeed();
	setInterval('pushFeed()', 6000);
 
});

	var names = new Array(
		'jaredo',
		'starlene',
		'sunfl0wer',
		'kello',
		'hara',
		'jem',
		'wobo',
		'byna',
		'pando',
		'paul',
		'ehul',
		'ishlin',
		'magicMike',
		'reggie',
		'wilson'
	);

	var images = new Array(
		'./images/iconfemale1.png',
		'./images/iconfemale2.png',
		'./images/iconmale1.png',
		'./images/iconalan.png'
	);

	var mediaz = new Array(
		'Image', 'Video', 'Sound', 'Text'	
	);

	var challenges = new Array(
		'Ask a stranger to tell you their life story and write it down!',
		'Drive as far as you can in one direction!',
		'Draw a picture with your eyes closed!'
	);

	function pushFeed() {
		var locale = (Math.random() < 0.5? 'Friends only' : 'Global');
		var name = names[Math.floor(Math.random() * names.length)];
		var image = images[Math.floor(Math.random() * images.length)];
		var hrs = Math.floor(48 * Math.random()) + 1;
		var N = Math.floor(20 * Math.random()) + 1;
		var media = mediaz[Math.floor(Math.random() * mediaz.length)];
		var challenge = challenges[Math.floor(Math.random() * challenges.length)];
		var stickyFix = (!scrollOver(sticky_navigation_offset_top)? 'animated fadeIn' : '');
		var html = '<div class="'+ stickyFix +' challenge-container">' +
			'<div class="user-container">' +
			'<img src="' + image + '"><br>' + name + '</div>' +
			'<div class="info-container">' +
			'<br><span id="challenge-top-text">' +
			'Time Remaining: ' + hrs + ' hours /' +
			'Difficulty: ' + stars() + '/' +
			locale + '</span>' +
			'<br><span id="challenge-main-text">' + challenge + '</span>' +
			'<br><span id="challenge-sub-text">' +
			N + ' participants /' +
			'View Example (' + media + ') /' +
			'<span id="join-button">Join!</span></span>' +
			'<br><span id="tags">#travel #video #photography</span>' +
			'</div>' +
			'</div>';
			
		$('#cfc').prepend(html);
	}

	function stars() {
		var stars = '&#9733';
		var twinkle = true;
		for (var i=0; i < 4; i++) {
			if(Math.random() > 0.7) {
				twinkle = false;			
			}
			if(twinkle) {
				stars += '&#9733';			
			}
			else {
				stars += '&#9734';		
			}
		}
		return stars;
	}

/*
challenge feed spec:

<div class="challenge-container">
	<div class="user-container">
		<img src="--------"><br>--------
	</div>
	<div class="info-container">
		<br><span id="challenge-top-text">
			Time Remaining: ------------ /
			Difficulty: ------ /
			---------
		</span>
		<br><span id="challenge-main-text">
			.....................................
		</span>
		<br><span id="challenge-sub-text">
			---- participants /
			View Example (-------) /
			<span id="join-button">Join!</span>
		</span>
		<br><span id="tags">-------</span>
	</div>
</div>


*/

</script>
</head>
<body>
<div class="header-container"><div class="logo"><img src="./images/logo-sm.png"></div></div>
<div class="userbar-container"><div class="userbar-picture-container"><img src="./images/iconalan.png"></div>
	<div class="userbar-username-container">Hey there, <span id="dark"><%= user.name %></span></strong>!</div>
	<div class="userbar-break">&nbsp;</div>
	<a href='/logout' class="userbar-right-container"><img src="./images/iconlogout.png"><br>Log Out</a> 
	<a href='#' class="userbar-right-container"><img src="./images/iconsettings.png"><br>Settings</a> <a href='#' class="userbar-right-container"><img src="./images/iconprofile.png"><br>My Profile</a> <a href='#' class="userbar-right-container"><img src="./images/iconchallenges.png"><br>Active Challenges</a>
	<a href='/challenge' class="userbar-right-container"><img src="./images/icontitle.png"><br>Create A Challenge</a>
</div>
<div class="filler-container">.</div>
<div id='cfc' class="challenge-feed-container">

</div>
</body>
</html>
