<html>
<head>
<title>Tumblefeed</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/tumblefeed.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin|PT+Sans' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
 <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script>
$(function() {
 
    // grab the initial top offset of the navigation
    var sticky_navigation_offset_top = $('.userbar-container').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky_navigation = function(){
        var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scroll_top > sticky_navigation_offset_top) {
            $('.userbar-container').css({ 'position': 'fixed', 'top':0, 'left':0 });
            $('.filler-container').show();
        } else {
            $('.userbar-container').css({ 'position': 'relative' });
            $('.filler-container').hide();
        }  
    };
     
    // run our function on load
    sticky_navigation();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky_navigation();
    });
 
});</script>
</head>
<body>
<div class="header-container"><div class="logo"><img src="./images/logo-sm.png"></div></div>
<div class="userbar-container"><div class="userbar-picture-container"><img src="./images/iconalan.png"></div>
	<div class="userbar-username-container">Hey there, <span id="dark"><%= user.name %></span></strong>!</div>
	<div class="userbar-break">&nbsp;</div>
	<a href='/logout' class="userbar-right-container"><img src="./images/iconlogout.png"><br>Log Out</a> 
	<a href='#' class="userbar-right-container"><img src="./images/iconsettings.png"><br>Settings</a> <a href='#' class="userbar-right-container"><img src="./images/iconprofile.png"><br>My Profile</a> <a href='#' class="userbar-right-container"><img src="./images/iconchallenges.png"><br>Active Challenges</a>
	<a href='/challenge' class="userbar-right-container"><img src="./images/icontitle.png"><br>Create A Challenge</a>
</div>
<div class="filler-container">.</div>
<div class="challenge-feed-container">
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale2.png"><br>starlene</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 8 days /  Difficulty: &#9733&#9733&#9733&#9733&#9734 / Friends Only</span><br><span id="challenge-main-text">Ask a stranger to tell you their life story and write it down!</span><br><span id="challenge-sub-text">2 participants / View Example (text) / <span id="join-button">Join!</span></span><br><span id="tags">#writing #text</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconmale1.png"><br>buckeroo</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 13 hours /  Difficulty: &#9733&#9733&#9733&#9734&#9734 / Friends Only</span><br><span id="challenge-main-text">Drive as far as you can in one direction!</span><br><span id="challenge-sub-text">13 participants / View Example (video) / <span id="join-button">Join!</span></span><br><span id="tags">#travel #video #photography</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale1.png"><br>sunfl0wer</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 3 days /  Difficulty: &#9733&#9734&#9734&#9734&#9734 / Global</span><br><span id="challenge-main-text">Draw a picture with your eyes closed!</span><br><span id="challenge-sub-text">2 participants / View Example (image) / <span id="join-button">Join!</span></span><br><span id="tags">#art #drawing</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale2.png"><br>starlene</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 8 days /  Difficulty: &#9733&#9733&#9733&#9733&#9734 / Friends Only</span><br><span id="challenge-main-text">Ask a stranger to tell you their life story and write it down!</span><br><span id="challenge-sub-text">2 participants / View Example (text) / <span id="join-button">Join!</span></span><br><span id="tags">#writing #text</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconmale1.png"><br>buckeroo</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 13 hours /  Difficulty: &#9733&#9733&#9733&#9734&#9734 / Friends Only</span><br><span id="challenge-main-text">Drive as far as you can in one direction!</span><br><span id="challenge-sub-text">13 participants / View Example (video) / <span id="join-button">Join!</span></span><br><span id="tags">#travel #video #photography</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale1.png"><br>sunfl0wer</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 3 days /  Difficulty: &#9733&#9734&#9734&#9734&#9734 / Global</span><br><span id="challenge-main-text">Draw a picture with your eyes closed!</span><br><span id="challenge-sub-text">2 participants / View Example (image) / <span id="join-button">Join!</span></span><br><span id="tags">#art #drawing</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale2.png"><br>starlene</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 8 days /  Difficulty: &#9733&#9733&#9733&#9733&#9734 / Friends Only</span><br><span id="challenge-main-text">Ask a stranger to tell you their life story and write it down!</span><br><span id="challenge-sub-text">2 participants / View Example (text) / <span id="join-button">Join!</span></span><br><span id="tags">#writing #text</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconmale1.png"><br>buckeroo</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 13 hours /  Difficulty: &#9733&#9733&#9733&#9734&#9734 / Friends Only</span><br><span id="challenge-main-text">Drive as far as you can in one direction!</span><br><span id="challenge-sub-text">13 participants / View Example (video) / <span id="join-button">Join!</span></span><br><span id="tags">#travel #video #photography</span></div></div>
<div class="challenge-container"><div class="user-container"><img src="./images/iconfemale1.png"><br>sunfl0wer</div><div class="info-container"><br><span id="challenge-top-text">Time Remaining: 3 days /  Difficulty: &#9733&#9734&#9734&#9734&#9734 / Global</span><br><span id="challenge-main-text">Draw a picture with your eyes closed!</span><br><span id="challenge-sub-text">2 participants / View Example (image) / <span id="join-button">Join!</span></span><br><span id="tags">#art #drawing</span></div></div></div>
</body>
</html>