<html>
<head>
<title>Settings | Tumbleweed</title>
<link rel="stylesheet" type="text/css" href="./stylesheets/settings.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Cabin|PT+Sans|Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
<link rel="stylesheet" href="./stylesheets/font-awesome-4.0.3/css/font-awesome.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script>
$(function() {
 
    // grab the initial top offset of the navigation
    var sticky_navigation_offset_top = $('.userbar-container').offset().top;
     
    // our function that decides weather the navigation bar should have "fixed" css position or not.
    var sticky_navigation = function(){
        var scroll_top = $(window).scrollTop(); // our current vertical position from the top
         
        // if we've scrolled more than the navigation, change its position to fixed to stick to top,
        // otherwise change it back to relative
        if (scroll_top > sticky_navigation_offset_top) {
            $('.userbar-container').css({ 'position': 'fixed', 'top':0, 'left':0 });
            $('.filler-container').show();
        } else {
            $('.userbar-container').css({ 'position': 'relative' });
            $('.filler-container').hide();
        }  
    };
     
    // run our function on load
    sticky_navigation();
     
    // and run it again every time you scroll
    $(window).scroll(function() {
         sticky_navigation();
    });
 
});
</script>
</head>
<body>
<div class="header-container"><div class="logo"><img src="./images/logo-sm.png"></div></div>
<div class="userbar-container"><div class="userbar-picture-container"><img src="./images/iconalan.png"></div>
	<div class="userbar-username-container">Hey there, <span id="dark">TEST</span></strong>!</div>
	<div class="userbar-break">&nbsp;</div>
	<a href='/logout' class="userbar-right-container"><img src="./images/iconlogout.png"><br>Log Out</a> 
	<a href='#' class="userbar-right-container"><img src="./images/iconsettings.png"><br>Settings</a> <a href='#' class="userbar-right-container"><img src="./images/iconprofile.png"><br>My Profile</a> <a href='#' class="userbar-right-container"><img src="./images/iconchallenges.png"><br>Active Challenges</a>
	<a href='/challenge' class="userbar-right-container"><img src="./images/icontitle.png"><br>Create A Challenge</a>
</div>
<div class="filler-container">.</div>
<div class="settings-container">
<div class="title-container"><h1>Settings</h1></div>
<div align="center"><div id="panel-1-container"><h2>Change Icon</h2><div id="panel-1-inner-container"><div align="center"><div id="current-icon-container"><img src="./images/iconalan.png"><br>Current Icon</div>
<div id="vertical-divider-container"><img src="./images/vertical-divider.png"></div><div id="upload-button-container">Upload a new icon!<br><div align="left"><input type="file" class="upload" /></div></div><div id="or-container">or</div><div id="default-icons-container">Select one of these!<br><div id="default-icon-container"><img src="./images/iconmale1.png"></div><div id="default-icon-container"><img src="./images/iconfemale1.png"></div><div id="default-icon-container"><img src="./images/iconalan.png"></div><div id="default-icon-container"><img src="./images/iconfemale2.png"></div></div></div></div><div align="right"><button class="button-confirm pure-button"><i class="fa fa-check"></i> Save Changes</button></div></div></div><div id="blank-horizontal-divider"></div>
<div id="blank-horizontal-divider"></div>
<div align="center"><div id="panel-2-container"><h2>Change Password</h2><div id="panel-2-inner-container"><div align="center"><div id="change-password-container"><div id="change-password-label-container">Current Password<span id="required">*</span><br>New Password<span id="required">*</span><br>Confirm New Password<span id="required">*</span></div><div id="change-password-inputs-container"><input type="password" name="current-password"><br><input type="password" name="current-password"><br><input type="password" name="current-password"></div></div></div></div><div align="right"><button class="button-confirm pure-button"><i class="fa fa-check"></i> Save Changes</button></div></div></div><div id="blank-horizontal-divider"></div></div>
</body>
</html>
